<main class="main">
    <div id="men">
        <app-slider/>
        <div id="page-content">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/men-banner-1.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/men-banner-2.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/men-banner-3.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512"><path fill="black" d="m359.873 121.377l-22.627 22.627l95.997 95.997H16v32.001h417.24l-95.994 95.994l22.627 22.627L494.498 256z"/></svg> GET THE LOOK
            </div>
            <div id="men-styles">
                <div class="men-style">
                    <img src="../../../assets/images/men-1.webp" alt="">
                    <span>TRENDY</span>
                </div>
                <div class="men-style">
                    <img src="../../../assets/images/men-2.webp" alt="">
                    <span>BASIC</span>
                </div>
                <div class="men-style">
                    <img src="../../../assets/images/men-3.webp" alt="">
                    <span>CASUAL</span>
                </div>
                <div class="men-style">
                    <img src="../../../assets/images/men-4.webp" alt="">
                    <span>STREETWEAR</span>
                </div>
            </div>
            <div class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512"><path fill="black" d="m359.873 121.377l-22.627 22.627l95.997 95.997H16v32.001h417.24l-95.994 95.994l22.627 22.627L494.498 256z"/></svg> TE PUEDE INTERESAR
            </div>
            <app-products/>
        </div>
    </div>
</main>
