<main class="main">
    <div id="categories">
        <app-banner [title]="title" [desc]="desc"/>
        <div id="page-content">
            <div id="men-women-others">
                <div class="mwo">
                    <span>MEN</span>
                    <img src="../../assets/images/men-category.webp" alt="">
                </div>
                <div class="mwo">
                    <span>WOMEN</span>
                    <img src="../../assets/images/women-category.webp" alt="">
                </div>
                <div class="mwo">
                    <span>ACCESSORIES</span>
                    <img src="../../assets/images/accesories-category.jpg" alt="">
                </div>
            </div>
            <app-category-list/>
        </div>
    </div>
</main>
