.main{
    background-color: #6f9ab7;
}

#products{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#page-content{
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin: -50px auto 0px auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    z-index: 2;
}