* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.slider {
    display: flex;
    animation: scroll 15s linear infinite;
}

.slide {
    min-width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.slide img{
    height: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}