

:host{
    background-color: #B7906F;
}

body{
    height: 100%;
}

.main{
    height: 100%;
}

body > app-root{
    background-color: #B7906F;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

.link-active, .link-active path, .link-active circle, #home-link button{
    font-weight: bolder;
    color: black !important;
    stroke: black !important;
}

.nav-link1 > svg > path{
    fill: black !important;
    color: black !important;
}

